<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <style></style>
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>
        <span>T</span>
        <span>E</span>
        <span>A</span>
        <span>M</span>
      </h1>
    </header>
    <main>
      <div class="team__container">
        {%CARD%}
      </div>
    </main>
    <footer>
      <p><span>THE BEST TEAM EVER!</span> <i class="fas fa-rocket"></i></p>
    </footer>
  </body>
</html>
